/* * {
    margin: 0;
    padding: 0;
} */

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 3rem;
    width: 100%;
    background: #111;
}

.logo {
    position: fixed;
    left: 25px;
    top: 10px;
    width: 80px;
}

.avatar {
    position: fixed;
    right: 25px;
    top: 10px;
    width: 25px;
}