.banner {
    /* background: url('https://image.tmdb.org/t/p/w500/Afp8OhiO0Ajb3NPoCBvfu2pqaeO.jpg'); */
    height: 70vh;
    background-size: cover;
    position: relative;
}

.content {
    position: absolute;
    bottom: 50px;
    left: 20px;
    padding-bottom: 16px;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 16px;
}

.description {
    color: #ffffff;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 16px;
    padding-left: 0;
    padding-top: 10px;
    width: 50%;
    font-family: inherit;
}

.button {
    margin-top: 1rem;
    margin-right: 5px;
    font-weight: 700;
    padding: 10px 15px;
    color: white;
    background: rgba(34, 29, 29, 0.5);
    border: none;
    outline: none;
    border-radius: 5px;
}

.button:hover {
    color: rgba(64, 60, 60, 0.5);
    background: white;
    cursor: pointer;
}

.fade-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 8rem;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8))
}